/* ------------1.   Paperview ------------------- */
#ejournal-paper-title {
  margin-top: 2.5em;
}
#ejournal-paper-title .authors {
  /*   font-size: 1.15em;*/
  font-size: 14px;
  font-weight: normal;
  color: #4b4b4b;
}
#ejournal-paper-title .title {
  /*    font-size: 1.38em; */
  font-size: 18px;
  font-weight: normal;
  color: black;
}
#id_date {
  text-align: left;
  /*    font-size:0.9em; */
  font-size: 11px;
}
#corresponding_link {
  float: right;
  width: auto;
}
#corresponding_link a {
  /*    font-size:0.9em; */
  font-size: 11px;
}
div.special-issue {
  /*    font-size:0.9em; */
  font-size: 11px;
  margin-top: 6px;
}
/*
#ejournal-document-actions {
    font-size:11px;
    width:auto;
    margin:2.1em 0em -1.25em 0em;
    border-top:1px solid rgb(179,197,214);
    padding-top:5px;

}
*/
#ejournal-document-actions a {
  /*    color: rgb(75,75,75);*/
}
/*comment*/
.singleComment {
  background-color: #f4f4f4;
  padding: 3px 3px 3px 5px;
}
div.commentactions {
  margin-left: -3px;
  margin-top: 12px;
}
/* this is necessary because of the ugly float:left hack for the whole site */
div.commentactions form {
  float: none;
}
.commentBody {
  /*    font-size:0.9em; */
  font-size: 11px;
  margin: 6px 1em 0 1em;
  border: none;
}
.commentTitle {
  /*   font-size:1.1em; */
  font-size: 12px;
  font-weight: bold;
}
.commentReply {
  margin-left: 25px;
}
.commentAuthorLinks {
  display: inline;
}
.comment-more-link {
  cursor: s-resize;
  color: #808080;
}
.comment-more-text {
  display: none;
  margin-bottom: 10px;
}
div.comment-title {
  font-weight: bold;
}
/* --------------paperview misc---------------- */
.ejournal-download-rating td {
  padding-right: 20px;
}
#biblio {
  margin-top: 12px;
  margin-bottom: 12px;
}
div.list-of-authors {
  margin-bottom: 5px;
}
div.ejournal-letters {
  margin-top: 1em;
}
div.ejournal-authors {
  margin-top: 1em;
}
.hasAuthors {
  font-weight: bold;
}
/* used only in comment view */
.eJournal_download_field {
  margin: 30px 0 20px 0;
}
a.searchresult {
  font-weight: bold;
}
/* ----------- 2. paperlist  ------------------------*/
.paperlist_id {
  font-weight: normal;
}
.paperlist_details {
  color: #4b4b4b;
  /*    font-size:0.9em; */
  font-size: 11px;
  padding-bottom: 3px;
}
.paperlist_left {
  padding-right: 10px;
  text-align: right;
}
.paperlist_title {
  font-weight: bold;
  /*     */
}
.ejournal-download-rating {
  margin-top: 35px;
}
.eJournal_sorted_by {
  text-align: center;
}
.eJournal_sorted_by span {
  /*     font-size:0.9em; */
  font-size: 11px;
}
.eJournal_sorted_by select {
  margin-right: 7px;
  border: 1px solid #b3c5d6;
  /*font-size:0.9em; */
  font-size: 11px;
}
.eJournal_paper_list {
  width: 100%;
}
.eJournal_paper_list td {
  vertical-align: top;
}
.accepted,
.accepted a:visited {
  color: green !important;
  font-weight: bold;
}
.accepted a:hover {
  color: #800000 !important;
}
.columns {
  -webkit-column-count: 2;
  -webkit-column-gap: auto;
  -moz-column-count: 2;
  -moz-column-gap: auto;
  line-height: normal;
}
.fb-like,
.g-plusone,
.twitter-share-button {
  display: inline;
}
.social_share_privacy_area {
  list-style-image: none !important;
  list-style: none !important;
}
/* honeypot */
#formfield-form-honeypot,
.assimilatethis {
  display: None;
}
/* Palette generated by Material Palette - materialpalette.com/blue-grey/cyan */
/*@ploneEditBarColor: #f57c00;*/
/* perhaps integrate Lato later */
body,
p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  font-size: 1.25em;
}
.navbar-brand {
  font-size: 220%;
  font-weight: 400;
  color: #00BCD4 !important;
}
#footer {
  background-color: #455A64;
}
.navbar,
.navbar-inner,
.navbar-default {
  background: #455A64;
  border-radius: 0px;
  color: #FFFFFF;
}
.navbar .nav > li > a {
  color: #FFFFFF;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-menu {
  background-color: #CFD8DC;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-menu > li a:focus,
.navbar-default .navbar-nav > li a:focus,
.navbar-default .navbar-nav > .open a:focus,
.dropdown-menu > li a:hover,
.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > .open a:hover {
  background-color: #00BCD4;
  color: #FFFFFF;
}
.icon-bar {
  background-color: #FFFFFF !important;
}
#edit-bar,
#content-views,
.contentViews,
#contentActionMenus {
  background-color: #CFD8DC;
}
#edit-bar {
  border: 0.25em solid #CFD8DC;
}
#contentActionMenus {
  background: #CFD8DC;
  border-radius: 0px;
}
#contentActionMenus dl.actionMenu.activated dd {
  border-bottom: 0.5em solid #CFD8DC;
}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background-color: #CFD8DC;
  color: #727272;
  z-index: 5;
}
#content-views a,
#content li.formTab a {
  line-height: 1.5em;
  padding: 0 0.75em;
  text-decoration: none;
  border: none;
  margin: 0;
  color: #727272;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
  background: #00BCD4;
  color: #FFFFFF;
  border-top-right-radius: 0em;
  border-top-left-radius: 0em;
}
#content ul.formTabs {
  background-color: #CFD8DC;
}
