/* ------------1.   Paperview ------------------- */
#ejournal-paper-title {
  margin-top: 4em;
}
#ejournal-paper-title .authors {
  /*   font-size: 1.15em;*/
  font-size: 2rem;
}
#ejournal-paper-title .title {
  /*    font-size: 1.38em; */
  font-size: 4rem;
  font-weight: normal;
}
#id_date {
  text-align: left;
  font-size: 1.1em;
  line-height: 0.6em;
}
#corresponding_link {
  float: right;
  width: auto;
  color: #607D8B;
}
div.special-issue {
  color: #727272;
  font-size: 2rem;
  margin-top: 6px;
}
#ejournal-document-actions {
  margin-top: 1.5em;
  padding: 5px;
  /*border-bottom: 1px solid @lightPrimaryColor;
    border-top: 1px solid @lightPrimaryColor;
    */
  text-align: center;
  font-size: 2rem;
}
#ejournal-document-actions a {
  font-size: 2rem;
  color: #455A64;
}
/*comment*/
.singleComment {
  background-color: #f4f4f4;
  padding: 3px 3px 3px 5px;
}
div.commentactions {
  margin-left: -3px;
  margin-top: 12px;
}
/* this is necessary because of the ugly float:left hack for the whole site */
div.commentactions form {
  float: none;
}
.commentBody {
  /*    font-size:0.9em; */
  font-size: 11px;
  margin: 6px 1em 0 1em;
  border: none;
}
.commentTitle {
  /*   font-size:1.1em; */
  font-size: 12px;
  font-weight: bold;
}
.commentReply {
  margin-left: 25px;
}
.commentAuthorLinks {
  display: inline;
}
.comment-more-link {
  cursor: s-resize;
  color: #808080;
}
.comment-more-text {
  display: none;
  margin-bottom: 10px;
}
div.comment-title {
  font-weight: bold;
}
/* --------------paperview misc---------------- */
.ejournal-download-rating td {
  padding-right: 20px;
}
#biblio {
  margin-top: 12px;
  margin-bottom: 12px;
}
div.list-of-authors {
  margin-bottom: 5px;
}
div.ejournal-letters {
  margin-top: 1em;
}
div.ejournal-authors {
  margin-top: 1em;
}
.hasAuthors {
  font-weight: bold;
}
/* used only in comment view */
.eJournal_download_field {
  margin: 30px 0 20px 0;
}
a.searchresult {
  font-weight: bold;
}
/* ----------- 2. paperlist  ------------------------*/
.paperlist_id {
  color: #607D8B;
}
.paperlist_details {
  color: #727272;
  font-size: 0.9em;
  padding-bottom: 1em;
}
.paperlist_left {
  padding-right: 10px;
  text-align: right;
}
.paperlist_title {
  font-weight: bold;
  /*     */
}
.ejournal-download-rating {
  margin-top: 35px;
}
.eJournal_paper_list td {
  vertical-align: top;
}
.columns {
  -webkit-column-count: 2;
  -webkit-column-gap: auto;
  -moz-column-count: 2;
  -moz-column-gap: auto;
  line-height: normal;
}
.fb-like,
.g-plusone,
.twitter-share-button {
  display: inline;
}
.social_share_privacy_area {
  list-style-image: none !important;
  list-style: none !important;
}
/* honeypot */
#formfield-form-honeypot,
.assimilatethis {
  display: None;
}
h2 {
  font-size: 3rem;
}
/* ignore block style from Word */
#ejournal-abstract p {
  text-align: left !important;
}
#assessment_line {
  text-align: center;
  font-size: 2.75rem;
  color: #607D8B;
  margin-top: 50px;
}
#assessment_line a {
  color: #607D8B;
}
#assessment_line li {
  display: inline;
  margin-right: 10px;
}
#versions li {
  font-size: 1.25em;
  display: inline;
  margin-right: 20px;
}
#journalarticle_link {
  margin-top: 1.5em;
  font-size: 1.25em;
}
/* Palette generated by Material Palette - materialpalette.com/blue-grey/cyan */
.grey {
  color: #727272;
}
body,
p,
td {
  font-family: 'Lato', sans-serif;
  color: #212121;
  font-size: 1.4em;
  /* umstritten! */
}
@media (max-width: 768px) {
  body,
  p,
  td {
    font-size: 1.4em;
  }
}
a {
  color: #006064;
  font-weight: 500;
}
a:hover {
  color: #0097a7;
  text-decoration: none;
}
.navbar-brand {
  font-size: 220%;
  font-weight: 400;
  color: #00BCD4 !important;
  font-family: 'Lato', sans-serif;
}
#footer {
  background-color: #455A64;
  color: #CFD8DC;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#footer a {
  color: #FFFFFF;
}
.footer-links {
  margin-top: 1em;
  padding: 10px;
}
.navbar,
.navbar-inner,
.navbar-default {
  background: #455A64;
  border-radius: 0px;
  color: #FFFFFF;
  min-height: 1rem;
}
@media (max-width: 768px) {
  .navbar,
  .navbar-inner,
  .navbar-default {
    min-height: 64px;
  }
}
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}
ul.nav {
  margin-top: 1em;
}
.navbar-collapse ul.nav {
  margin-left: 0.3em;
  margin-top: 1em;
}
.navbar-default .navbar-toggle:hover {
  background-color: #00BCD4;
}
.navbar-default .navbar-toggle:active {
  background-color: #00BCD4;
}
.navbar .nav > li > a {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}
.dropdown-menu {
  background-color: #CFD8DC;
  font-family: 'Lato', sans-serif;
}
.dropdown-menu > li a:focus,
.navbar-default .navbar-nav > li a:focus,
.navbar-default .navbar-nav > .open a:focus,
.dropdown-menu > li a:hover,
.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > .open a:hover {
  background-color: #00BCD4;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #FFFFFF;
  background-color: #00BCD4;
}
.dropdown-header {
  /*color: @accentColor;*/
  background-color: #607D8B;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
}
.divider {
  color: #B6B6B6;
}
.icon-bar {
  background-color: #FFFFFF !important;
}
#edit-bar,
#content-views,
.contentViews,
#contentActionMenus {
  background-color: #607D8B;
}
#edit-bar {
  /*border: 0.25em solid @ploneEditBarColor;*/
  border: none;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 0px;
}
#contentActionMenus {
  background: #607D8B;
  border-radius: 0px;
  position: relative;
  top: 0em;
  right: 0em;
}
#contentActionMenus dl.actionMenu.activated dd {
  border-bottom: 0.5em solid #607D8B;
}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background-color: #607D8B;
  color: #FFFFFF;
  z-index: 5;
}
#content-views a,
#content li.formTab a {
  line-height: 1.5em;
  padding: 0 0.75em;
  text-decoration: none;
  border: none;
  margin: 0;
  color: #FFFFFF;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
  background: #00BCD4;
  color: #FFFFFF;
  border-radius: 0px;
}
li.formTab a.selected {
  background-color: #607D8B !important;
  border: none;
  text-decoration: none;
}
#content ul.formTabs {
  background-color: #00BCD4;
}
.navbar-form {
  width: auto;
}
.ej-search {
  margin-left: -15px;
}
.ej-head {
  margin-bottom: 0px !important;
  border-bottom: 0px solid #455A64 !important;
}
.navbar-default {
  border-color: #455A64;
}
a h2 {
  color: #212121;
}
#social_media_links a {
  color: #607D8B;
}
h2 .fa {
  font-size: 0.9em;
  font-weight: 300;
  color: #00BCD4;
  padding-right: 0.5em;
}
.accepted,
.accepted a:visited {
  color: #00796b !important;
  font-family: 'Lato', sans-serif;
}
.btn-info {
  background-color: #00BCD4;
}
a i.fa,
li i.fa {
  margin-right: 10px;
}
.label-ja {
  background-color: #00796b;
  font-size: 1em;
}
.label-dp {
  background-color: #ffa000;
  font-size: 1em;
}
.paper_list_item {
  font-size: 1.25em;
}
.paper_list_item .label {
  line-height: 1.5 !important;
  font-size: 1em;
}
.eJournal_paper_list .pagination {
  text-align: center;
}
.eJournal_paper_list .pagination a,
.eJournal_paper_list .pagination span {
  margin-right: 3px;
}
.paperlist_details li {
  display: inline;
  white-space: nowrap;
}
.paperlist_details ul {
  padding-left: 0px;
}
.discussible {
  color: #607D8B;
}
.listingBar {
  margin: 2em 0 3em 0;
  text-align: center;
}
.listingBar .next {
  display: inline-block;
  float: right;
}
.listingBar .previous {
  display: inline-block;
}
.listingBar a {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #B6B6B6;
}
.listingBar a:hover {
  background-color: #00BCD4;
  color: #FFFFFF;
}
#sorted_by_form {
  background-color: #CFD8DC;
}
#sorted_by_form select {
  margin-right: 25px;
}
input[type='submit'] {
  background-color: #00BCD4;
  color: #FFFFFF;
  font-weight: bold;
}
.jumbotron {
  background-color: white;
  color: #607D8B;
  text-align: center;
}
.ej_section {
  margin-bottom: 5em;
}
.ej_section h2 {
  padding-left: 12px;
}
.ej_feature {
  margin-bottom: 1em;
  margin-top: 2em;
}
.ej_feature img {
  float: left;
}
.ej_feature i {
  color: #607D8B;
}
#sections {
  font-weight: 300;
}
#sections h2 {
  color: #455A64;
  display: inline;
}
#section-feature {
  background-color: #607D8B;
  color: #FFFFFF;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
}
#section-feature h2 {
  color: #FFFFFF;
  line-height: 1.25em;
}
#section-ja {
  background-color: #00796b;
  color: #FFFFFF;
  padding: 10px;
}
#section-ja h2 {
  color: #FFFFFF;
}
#section-dp {
  background-color: #ffa000;
  color: #FFFFFF;
  padding: 10px;
}
#section-dp h2 {
  color: #FFFFFF;
}
.ej-section-text {
  padding: 2em;
  border: 1px solid #B6B6B6;
}
.latest {
  margin-top: 24px;
}
#content ul.formTabs {
  border: none;
}
label.formQuestion {
  font-size: 1.25em;
}
.formHelp {
  font-size: 1em !important;
}
.inline {
  display: inline;
}
/* test */
#logo_subtitle {
  clear: both;
  color: #00BCD4;
  position: relative;
  top: -10px;
  left: 0px;
  margin-right: 1em;
  font-size: 0.75em;
}
.navbar-brand {
  padding-left: 0px;
}
#logo {
  font-size: 2em;
  letter-spacing: 0.26em;
}
#togglejumbo {
  text-align: right;
  font-size: 0.75em;
  color: #727272;
  margin-top: -10px;
}
#featured {
  margin-top: 2em;
}
#featured img {
  max-height: 300px;
  max-width: 750px;
  margin: 1em 2em 1em 0em;
}
#featured a {
  color: #212121;
}
.label-teaser {
  background-color: #607D8B;
  color: #FFFFFF;
  font-size: 1.25em;
}
#teaserlink {
  text-align: right;
  margin-top: 1em;
  margin-bottom: 2em;
}
#teaserlink div {
  border: none;
}
