/* ------------1.   Paperview ------------------- */
#ejournal-paper-title {
  margin-top: 4em;
}
#ejournal-paper-title .authors {
  /*   font-size: 1.15em;*/
  font-size: 2rem;
}
#ejournal-paper-title .title {
  /*    font-size: 1.38em; */
  font-size: 3rem;
  font-weight: normal;
}
#id_date {
  text-align: left;
  font-size: 1.2em;
  line-height: 0.6em;
}
#corresponding_link {
  float: right;
  width: auto;
  color: #607D8B;
}
div.special-issue {
  color: #727272;
  font-size: 2rem;
  margin-top: 6px;
}
#ejournal-document-actions {
  margin-top: 1.5em;
  padding: 5px;
  /*border-bottom: 1px solid @lightPrimaryColor;
    border-top: 1px solid @lightPrimaryColor;
    */
  text-align: center;
  font-size: 2rem;
}
#ejournal-document-actions a {
  font-size: 2rem;
  color: #455A64;
}
/*comment*/
.singleComment {
  background-color: #f4f4f4;
  padding: 3px 3px 3px 5px;
}
div.commentactions {
  margin-left: -3px;
  margin-top: 12px;
}
/* this is necessary because of the ugly float:left hack for the whole site */
div.commentactions form {
  float: none;
}
.commentBody {
  /*    font-size:0.9em; */
  font-size: 11px;
  margin: 6px 1em 0 1em;
  border: none;
}
.commentTitle {
  /*   font-size:1.1em; */
  font-size: 12px;
  font-weight: bold;
}
.commentReply {
  margin-left: 25px;
}
.commentAuthorLinks {
  display: inline;
}
.comment-more-link {
  cursor: s-resize;
  color: #808080;
}
.comment-more-text {
  display: none;
  margin-bottom: 10px;
}
div.comment-title {
  font-weight: bold;
}
/* --------------paperview misc---------------- */
.ejournal-download-rating td {
  padding-right: 20px;
}
#biblio {
  margin-top: 12px;
  margin-bottom: 12px;
}
div.list-of-authors {
  margin-bottom: 5px;
}
.ejournal-letters {
  margin-top: 2em;
}
div.ejournal-authors {
  margin-top: 1em;
}
/* used only in comment view */
.eJournal_download_field {
  margin: 30px 0 20px 0;
}
a.searchresult {
  font-weight: bold;
}
/* ----------- 2. paperlist  ------------------------*/
.paperlist_id {
  color: #607D8B;
}
.paperlist_details {
  color: #727272;
  font-size: 0.9em;
  padding-bottom: 1em;
}
.paperlist_left {
  padding-right: 10px;
  text-align: right;
}
.paperlist_title {
  font-weight: bold;
  /*     */
}
.ejournal-download-rating {
  margin-top: 35px;
}
.eJournal_paper_list td {
  vertical-align: top;
}
.columns {
  -webkit-column-count: 2;
  -webkit-column-gap: auto;
  -moz-column-count: 2;
  -moz-column-gap: auto;
  line-height: normal;
}
.fb-like,
.g-plusone,
.twitter-share-button {
  display: inline;
}
.social_share_privacy_area {
  list-style-image: none !important;
  list-style: none !important;
}
/* honeypot */
#formfield-form-honeypot,
.assimilatethis {
  display: None;
}
h2 {
  font-size: 3rem;
}
/* ignore block style from Word */
#ejournal-abstract p {
  text-align: left !important;
}
#assessment_line {
  text-align: center;
  font-size: 2.75rem;
  color: #607D8B;
  margin-top: 50px;
}
#assessment_line a {
  color: #607D8B;
}
#assessment_line li {
  display: inline;
  margin-right: 10px;
}
#versions li {
  font-size: 1.25em;
  display: inline;
  margin-right: 20px;
}
#journalarticle_link {
  margin-top: 1.5em;
  font-size: 1.25em;
}
.paper_cat_ja {
  font-size: 1.8em;
}
.meta {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 50px;
  border-radius: 0.5em;
  padding-bottom: 12px;
}
.meta h2 {
  text-transform: uppercase;
  margin-right: 12px;
  font-size: 1.4rem;
  color: #727272;
}
/* Palette generated by Material Palette - materialpalette.com/blue-grey/cyan */
.grey {
  color: #727272;
}
.green {
  color: #00796b;
}
.yellow {
  color: #ffa000;
}
.red {
  color: #d32f2f;
}
.cc_container {
  background-color: #212121 !important;
}
.cc_container .cc_message {
  color: white;
}
.cc_container .cc_btn {
  background-color: #00BCD4 !important;
  color: #FFFFFF !important;
}
body,
p,
td {
  font-family: 'Lato', sans-serif;
  color: #212121;
  font-size: 1.4em;
  /* umstritten! */
}
@media (max-width: 768px) {
  body,
  p,
  td {
    font-size: 1.4em;
  }
}
a {
  color: #006064;
  font-weight: 500;
}
a:hover {
  color: #0097a7;
  text-decoration: none;
}
.navbar-brand {
  font-size: 220%;
  font-weight: 400;
  color: #00BCD4 !important;
  font-family: 'Lato', sans-serif;
}
#footer {
  background-color: #455A64;
  color: #CFD8DC;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-bottom: -20px;
  padding-bottom: 10px;
}
#footer a {
  color: #FFFFFF;
}
@media (max-width: 564px) {
  #footer img {
    margin-bottom: 1.5em;
  }
}
.footer-links {
  margin-top: 1em;
  padding: 10px;
}
.navbar,
.navbar-inner,
.navbar-default {
  background: #455A64;
  border-radius: 0px;
  color: #FFFFFF;
  min-height: 1rem;
}
@media (max-width: 768px) {
  .navbar,
  .navbar-inner,
  .navbar-default {
    min-height: 64px;
  }
}
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}
ul.nav {
  margin-top: 1em;
}
.navbar-collapse ul.nav {
  margin-left: 0.3em;
  margin-top: 1em;
}
.navbar-default .navbar-toggle:hover {
  background-color: #00BCD4;
}
.navbar-default .navbar-toggle:active {
  background-color: #00BCD4;
}
.navbar .nav > li > a {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}
.dropdown-menu {
  background-color: #CFD8DC;
  font-family: 'Lato', sans-serif;
}
.dropdown-menu > li a:focus,
.navbar-default .navbar-nav > li a:focus,
.navbar-default .navbar-nav > .open a:focus,
.dropdown-menu > li a:hover,
.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > .open a:hover {
  background-color: #00BCD4;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #FFFFFF;
  background-color: #00BCD4;
}
.dropdown-header {
  /*color: @accentColor;*/
  background-color: #607D8B;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
}
.divider {
  color: #B6B6B6;
}
.icon-bar {
  background-color: #FFFFFF !important;
}
#edit-bar,
#content-views,
.contentViews,
#contentActionMenus {
  background-color: #212121;
}
#edit-bar {
  /*border: 0.25em solid @ploneEditBarColor;*/
  border: none;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 0px;
}
#contentActionMenus {
  background: #212121;
  border-radius: 0px;
  position: relative;
  top: 0em;
  right: 0em;
}
#contentActionMenus dl.actionMenu.activated dd {
  border-bottom: 0.5em solid #212121;
}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
  background-color: #212121;
  color: #FFFFFF;
  z-index: 5;
}
#content-views a,
#content li.formTab a {
  line-height: 1.5em;
  padding: 0 0.75em;
  text-decoration: none;
  border: none;
  margin: 0;
  color: #FFFFFF;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
  background: #00BCD4;
  color: #FFFFFF;
  border-radius: 0px;
}
li.formTab a.selected {
  background-color: #607D8B !important;
  border: none;
  text-decoration: none;
}
#content ul.formTabs {
  background-color: #00BCD4;
}
.navbar-form {
  width: auto;
}
.ej-search {
  margin-left: -15px;
}
.ej-head {
  margin-bottom: 0px !important;
  border-bottom: 0px solid #455A64 !important;
}
.navbar-default {
  border-color: #455A64;
}
a h2 {
  color: #212121;
}
#social_media_links a {
  color: #607D8B;
}
h2 .fa {
  font-size: 0.9em;
  font-weight: 300;
  color: #00BCD4;
  padding-right: 0.5em;
}
.accepted,
.accepted a:visited {
  color: #00796b !important;
  font-family: 'Lato', sans-serif;
}
.btn-info {
  background-color: #00BCD4;
}
a i.fa,
li i.fa,
li i.ai {
  margin-right: 10px;
}
.label-ja,
.label-dp {
  font-size: 0.8em;
}
.label {
  background-color: #455A64;
}
.label:hover {
  background-color: #607D8B;
}
.paper_list_item {
  font-size: 1.25em;
}
.paper_list_item .label {
  background-color: #607D8B;
  line-height: 1.5 !important;
  font-size: 0.7em;
  padding: 3px;
  border-radius: 0;
}
.eJournal_paper_list .pagination {
  text-align: center;
}
.eJournal_paper_list .pagination a,
.eJournal_paper_list .pagination span {
  margin-right: 3px;
}
.paperlist_details li {
  display: inline;
  white-space: nowrap;
}
.paperlist_details ul {
  padding-left: 0px;
}
.discussible {
  color: #607D8B;
}
.listingBar {
  margin: 2em 0 3em 0;
  text-align: center;
}
.listingBar .next {
  display: inline-block;
  float: right;
}
.listingBar .previous {
  display: inline-block;
}
.listingBar a {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #B6B6B6;
}
.listingBar a:hover {
  background-color: #00BCD4;
  color: #FFFFFF;
}
#sorted_by_form {
  background-color: #CFD8DC;
  padding: 6px 3px 6px 3px;
  line-height: 2em;
}
#sorted_by_form select {
  margin-right: 25px;
}
input[type='submit'] {
  background-color: #00BCD4;
  color: #FFFFFF;
  font-weight: bold;
}
.jumbotron {
  background-color: white;
  color: #607D8B;
  text-align: center;
  margin-bottom: 0;
}
.ej_section {
  margin-bottom: 3em;
}
.ej_section h2 {
  padding-left: 12px;
}
.ej_feature {
  margin-bottom: 1em;
}
.ej_feature i {
  color: #607D8B;
}
#sections {
  font-weight: 400;
}
#sections h2 {
  display: inline;
}
#section-feature {
  background-color: #00BCD4;
  color: #FFFFFF;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
}
#section-feature h2 {
  line-height: 1.25em;
  font-size: 3rem;
}
.section-head {
  background-color: #00BCD4;
  color: #FFFFFF;
  padding: 10px;
}
.section-head h2 {
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
}
.latest-head {
  padding: 10px;
  background-color: #00BCD4;
  color: #FFFFFF;
}
.latest-head h2 {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
}
.latest {
  margin-top: 24px;
}
.latest .paper_list_item {
  margin-left: 0.1em;
}
#content ul.formTabs {
  border: none;
}
label.formQuestion {
  font-size: 1.25em;
}
.formHelp {
  font-size: 1em !important;
}
.inline {
  display: inline;
}
/* test */
#logo_subtitle {
  clear: both;
  color: #00BCD4;
  position: relative;
  top: -10px;
  left: 0px;
  margin-right: 1em;
  font-size: 0.75em;
}
.navbar-brand {
  padding-left: 0px;
}
#togglejumbo {
  text-align: right;
  font-size: 0.75em;
  color: #727272;
  margin-top: -10px;
}
#top {
  background-color: #455A64;
}
#togglelogo {
  color: #FFFFFF;
  margin-bottom: -5;
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 100;
  font-size: 75%;
}
#togglelogo a {
  color: #FFFFFF !important;
}
#togglelogo a:hover {
  text-decoration: underline;
}
#ejumbo {
  padding: 20px 0 0 0;
}
#ejumbo img {
  display: block;
  margin: auto;
}
@media (min-width: 615px) {
  #ejumbo img {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 614px) {
  #ejumbo img {
    width: 100%;
    max-width: 400px;
  }
}
#topinfo {
  color: #CFD8DC;
  padding: 0px 30px 20px 20px;
  font-size: 0.7em;
  text-align: right;
}
#topinfo img {
  width: 11em;
  margin-top: 18px;
}
@media (max-width: 990px) {
  #topinfo img#zbwlogo {
    margin-top: 0px;
  }
  #topinfo li {
    display: inline;
    margin-right: 1.5em;
    margin-left: -1em;
  }
}
@media (max-width: 564px) {
  #topinfo {
    text-align: center;
  }
}
.label-teaser {
  color: #FFFFFF;
  font-size: 1.1em;
}
#teaser {
  margin-bottom: 2em;
}
#teaserlink {
  text-align: center;
  margin-bottom: 5em;
}
.readmorelink {
  background-color: #607D8B;
  padding: 6px;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 2em;
}
.readmorelink:hover {
  background-color: #CFD8DC;
}
#teasertext {
  clear: both;
}
#teasertext div,
#teasertext li {
  font-size: 1.3em;
}
#teasertext ul {
  list-style-position: inside;
}
#teasertext.nopic {
  margin-left: 2em;
  margin-right: 2em;
}
#teaser_image {
  margin: 0 0 1em 0;
  background-color: #00BCD4;
}
#teaser_image img {
  min-width: 100%;
  opacity: 0.9;
}
#teaser_image figcaption {
  text-align: left;
  padding: 1em;
  background-color: #455A64;
  opacity: 0.5;
  margin-top: -3.5em;
  color: white;
  font-weight: 500;
}
.double {
  font-size: 2em;
}
.news_date {
  font-size: 0.6em;
  font-weight: 500;
  background-color: #607D8B;
  color: #FFFFFF;
  padding: 3px;
}
#teaserhead {
  height: 350px;
  margin-bottom: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 564px) {
  #teaserhead {
    background-size: cover;
  }
}
.caption {
  text-align: center;
  padding: 0 0 0 0;
  height: 25px;
  margin: -15px 0 0 0;
  opacity: 0.5;
  color: #727272;
  font-weight: 500;
  font-size: 0.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#teaserhead_nobg {
  margin-bottom: 2em;
  background-color: #00BCD4;
}
/*
#teaser_title {
    float: left;
    max-width: 55%;
    position: relative;
    top: 1em;
    left: 0px;
    background-color: @accentColor;
    padding: 18px;
    color: @textPrimaryColor;
    //opacity: 0.9;
    margin-bottom: 2em;
    h2 {
        font-size:1.44em;
        font-weight: 600;
    }
}
*/
#teaser_title {
  float: left;
  max-width: 66.6%;
  position: relative;
  top: 1em;
  left: 0px;
  color: #FFFFFF;
  margin-bottom: 2em;
}
#teaser_title h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: inherit;
}
@media (max-width: 564px) {
  #teaser_title h2 {
    font-size: 1.66em;
  }
}
#teaser_title h2 span {
  padding: 1px 0 1px 0;
  background-color: #00BCD4;
  box-decoration-break: clone;
  box-shadow: 0.5rem 0 0 #00BCD4, -0.5rem 0 0 #00BCD4;
}
#featured {
  background-color: #607D8B;
  color: #FFFFFF;
  padding: 10px;
}
#featured h2 {
  color: #FFFFFF;
  margin-left: 10px;
}
#intro {
  padding: 18px 18px 0px 18px;
  font-weight: 300;
  background-color: #607D8B;
  margin-bottom: 2em;
  text-align: left;
}
#intro p,
#intro li {
  font-size: 1.05em !important;
  color: #FFFFFF;
}
#intro a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}
#intro img {
  max-width: 150px;
  margin-top: 12px;
}
#intro ul {
  list-style: none inside;
  margin-left: -30px;
}
#intro li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}
#intro ul.if {
  text-align: center;
}
#intro ul.if li {
  margin-bottom: 0;
}
#intro #intro-logos {
  text-align: center;
  margin: auto;
  display: auto;
}
#introhead {
  color: white;
}
#searchform {
  text-align: center;
  font-size: 150%;
}
#ej-search-results .excerpt {
  font-size: 0.75em !important;
  color: #B6B6B6;
}
#ej-search-results .excerpt i {
  color: #B6B6B6;
}
#ej-search-results #input_term {
  width: 50% !important;
}
#ej-search-results #items_matching {
  color: #727272;
  margin-bottom: 33px;
  text-align: left;
}
#ej-search-results #pagination {
  text-align: center;
}
#ej-search-results dt {
  font-size: 140%;
  font-weight: normal;
  line-height: 24px;
  margin-top: 24px;
}
